{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<style>
    .project-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
</style>

<div class="container">
    <div class="project-container">


        <img class="project--image" src="{{project1.thumbnail.url}}">
        <a class="btn btn-primary" href="{{project1.adminupload.url}}" download="{{project1.adminupload.url}}"> Download PDF </a>

        <h1>{{project1.title}}</h1>
        {% if request.user.is_authenticated %}

            <a class="btn btn-warning" href="{% url 'edit-project1' project1.id %}">Edit</a>
        {% endif %}

        <hr>
        <p>{{project1.body|safe}}</p>
        <hr>
       <div class="comments-container">
            <h3>Comments ({{counts}})</h3>
            <form method="post">
                {% csrf_token %}

                {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Comment!">
            </form>
            <hr>

            {% for comment in comments %}
            <div class="card my-3">
                <div class="card-body">
                    <small>{{comment.created}}</small>
                    <h5>{{comment.name}}</h5>
                    <hr>
                    <p class=" my-3">{{comment.body}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}